.ironman-container { font-family: 微软雅黑, 黑体; }
.ironman-container input, .ironman-container textarea, .ironman-container button, .ironman-container select {
    font-family: 微软雅黑, 黑体;
}

.ironman-container table.table thead .sorting { 
  background: url("http://ironman.taosem.com/static/DataTables-1.9.4/media/images/sort_both.png") no-repeat center right; 
  cursor: pointer;
  *cursor: hand;
}

.ironman-container table.table thead .sorting_asc { 
  background: url("http://ironman.taosem.com/static/DataTables-1.9.4/media/images/sort_asc.png") no-repeat center right; 
  cursor: pointer;
  *cursor: hand;
}

.ironman-container table.table thead .sorting_desc { 
  background: url("http://ironman.taosem.com/static/DataTables-1.9.4/media/images/sort_desc.png") no-repeat center right; 
  cursor: pointer;
  *cursor: hand;
}
.ironman-container a {
  color: #4E90E2;
  text-decoration: none;
}

.ironman-container a:hover {
  color: #4E90E2;
  text-decoration: underline;
}
.ironman-container ﻿div.dataTables_filter label {
  float: right;
}
      
﻿.ironman-container ﻿.text-center {
  text-align:center;
} 
      
.ironman_lock_srumb {
  height: 30px;
  white-space: nowrap;
}

.ironman_lock_srumb p {
  color: red;
  font-size: 18px;
}

.ironman-container ﻿.inline {
  display: inline;
}

.ironman-container ﻿.rank_table {
  background-color: white;
}

.ironman-container ﻿.nav-tabs li div {
  font-weight: bold;
}

.ironman-container ﻿.lofter {
  margin-bottom: 2px;
  border-bottom: 1px solid #EEE;
}

.ironman-container ﻿.rank_detail {
  background-color: white;
}

.ironman_filter {
  font-size: 18px;
}

﻿#ironman_white_btn {
  color: white !important;
}

#search_text {
  width: 130px;
}

.ironman-container #select_campaign {
  width: 160px;
}

.ironman-container ﻿#select_adgroup {
  width: 200px;
}

.ironman-container ﻿#fixHeader {
  background: -webkit-linear-gradient(top, #F9F9F9 0%,#ECECEC 100%);
  border: 1px solid #CCC;
  border-radius: 4px 4px 0px 0px;
}

.ironman-container .rankinput {
  width: 40px;
  height: 8px;
}

.ironman-container .pointer {
  cursor: pointer;
}

.ironman-container .priceinput {
  width: 60px;
  height: 8px;
}

.ironman-container #desc{
  width: 120px;
}

.ironman-container .form-horizontal .rank_control{
  margin-left: 110px;
}

.ironman-container .form-horizontal .rank_label_form{
  width: 100px;
  text-align: left;
}

.ironman-container .rank_modal_table {
  margin-left: 10px;
}

.ironman-shop-detail-jd{
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0C0C1E;
}

.ironman-shop-detail{
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0C0C1E;
}

.ironman-shop-info{
    background-color: #0C0C1E;
    border: 1px solid #4A90E2;
    box-shadow: 0 0 6px #4A90E2;
}
.ironman-shop-right{
  color:#fff;
  margin-left:73px;
}
.ironman-shop-left{
  float:left;
  padding:7px;
}
.ironman_shop_table td {
line-height: 18px;
text-align: right;
vertical-align: center;
}

.ironman_shop_table {
width: 90%;
}

.ironman-container .split {
  margin-left: 5px;
  color: white;
}

.ironman-container .ironman-link a{
  color: white;
  text-decoration: none;
}

.ironman-container .ironman-link a:hover {
  color: white;
  text-decoration: none;
}


.ironman-container .ironman-progress {
  width: 100%; 
  display: inline-block; 
}

.ironman-progress .ironman-trend {
  height: 5px;
  background-color: #4A90E2;
  display: inline-block;
  box-shadow: 0 0 4px #4A90E2;
}

.ironman-container .widget {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    #padding: 20px 20px;
}

.ironman-container .widget .widget-header{
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px dashed #EEE;
}

.ironman-container .widget .widget-container{
    padding-top: 20px;
}

.ironman-container .label-num {
    background-color: #D7AD1B;
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}

.ironman-container .item_words {
    font-size:14px;
    line-height: 20px;
}

.ironman-container .item_words td {
    padding: 5px;
    border: 0;
}

.ironman-container .ironman-shop-item {
    background-color: #EEEEEE;
    padding-top: 15px;
    padding-bottom: 20px;
}

.ironman-container .ironman-item-detail {
    width: 950px; 
    height: 240px;
    margin-left: auto; 
    margin-right: auto;
    background-color: white;
    border: solid #E3E3E3;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-left-width: 0px;
}

.ironman-container .ironman-item-tab {
    margin-left: -100px;
    margin-top: -1px;
    margin-right: 0;
}

.ironman-container #popBottomRight {
  bottom: -260px;
  display: block;
  height: 250px;
  position: fixed;
  right: 0;
  width: 300px;
  z-index: 1000000;
}

.ironman-container #popBottomRight .close_cus {
  background: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding: 1px 6px;
  position: absolute;
  left: 0;
  text-shadow: 0 1px 0 white;
  top: 0;
  cursor: pointer;
  display: block;
}

.ironman-container #popBottomRight .clickArea {
  display: block;
  height: 250px;
  width: 300px;
}

.ironman-container #popBottomRight:hover .close_cus {
  display: block;
}

.ironman-container #reduce_time {
  position: absolute;
  top: 170px;
  left: 99px;
  font-size: 18px;
}

.mj-small {
  font-size: 40%;
}

.ironman-hover > div{
	display:none
} 

.ironman-hover:hover, .ironman-base.ironman-detail-hover:hover {
	background-color: #253149;
}

.ironman-hover:hover > div{
	display:block
} 

.ironman-price-chart {
	width: 320px;
	height: 180px;
}

.ironman-item-avatar span.org_exposure {
    margin-left: 3px;
}

.ironman-data{
	width: 50%;
	float: left;
  height: 24px;
  vertical-align: middle;
}

.ironman-cat-data{
	width: 100%;
  float: left;
  height: 24px;
  vertical-align: middle;
}

.ironman-container.ironman-item-info {
	background-color: #0C0C1E;
	border: 1px solid #4A90E2;
  box-shadow: 0 0 6px #4A90E2;
  margin-bottom: 3px;
  position: relative;
  #opacity: 0.9;
}

.ironman-item-avatar {
    color: white;
    position: relative;
    padding: 5px 0px 2px 46px;
  }

.ironman-item-avatar > .ironman-logo:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    left: 6px;
    top: 19px;
    max-width: 38px;
    max-height: 38px;
  }

@media screen and (min-width: 1280px) {
  .ironman-item-avatar {
    padding: 5px 0px 2px 62px;
  }

  .ironman-item-avatar > .ironman-logo:first-child {
    top: 14px;
    left: 7px;
    max-width: 48px;
    max-height: 48px;
  }
} 

@media screen and (min-width: 1460px) {
  .ironman-item-avatar {
    padding: 5px 0px 2px 74px;
  }

  .ironman-item-avatar > .ironman-logo:first-child {
    top: 9px;
    left: 8px;
    max-width: 58px;
    max-height: 58px;
  }
}

.ironman-item-info .ltxt{
  text-align: left;
  padding-left: 5px;
  color: white;
  font-size: 12px;
}

.ironman-item-more {
	  position: absolute;
    top: 78px;
    z-index: 9999999999;
    width: 100%;
    background-color: #0C0C1E;
    border: 1px solid #4A90E2;
    border-top-width: 0px;
    border-bottom-width: 0px;
    left: -1px;
    opacity: 0.9;
    box-shadow: 0 3px 6px #4A90E2;
}

.ironman-num {
  font-size: 12px !important;
  color: #F5A623;
  line-height: 134%;
  text-shadow: 0px 0px 4px #4A90E2;
  margin-left: 5px;
}

.ironman-word-num {
  margin-right: 5px;
}

.ironman-detail {
	margin: 6px 0px 6px 11px;
}

.ironman-detail, .ironman-mojing-detail {
	font-size: 12px !important;
  color: #FFFFFF;
  line-height: 134%;
}

.ironman-tag-title {
	margin-bottom: 5px;
}

.ironman-data-orig {
	opacity: 0.5;
	font-size: 12px !important;
  color: #FFFFFF;
  line-height: 134%;
  margin: 6px 0px;
}

.ironman-item-detail-popover .ironman-data-orig{
	margin: 6px 0px 6px 0px;
}

.ironman-mojing-detail{
    padding: 6px 15px 6px 20px;
}

.ironman-item-popover {
    margin-top:6px;
    margin-left:20px;
    position: absolute;
    top: -7px;
    z-index: 9999999999;
    width: 340px;
    background-color: #0C0C1E;
    border: 1px solid #4A90E2;
    left: 120px;
    opacity: 0.9;
    box-shadow: 0 0px 6px #4A90E2;
}

.ironman-mojing-table {
	width: 100%;
	margin: 6px 0;
}

.ironman-detail.ironman-price {
	margin-right: 11px;
}

.ironman-mojing-table .ironman-word-rank {
	text-align: center;
}

.ironman-mojing-table >tbody >tr {
	border-bottom: 1px solid #2B3958; 
}

.ironman-mojing-table tr {
  height: 28px; 
}

.ironman-mojing-table .ironman-num {
	margin: 0;
}

.ironman-container a.ironman-mojing-more{
	font-size: 15px !important;
  color: #FFFFFF;
  line-height: 36px;
  border: 2px solid #FFFFFF;
  padding: 5px 6px;
  margin: 6px 0px 6px 0px;
  font-weight: bold;
}

.ironman-mojing-more:hover {
	background-color: #4A90E2;
	border: 0;
}

.ironman-container .cat {
	margin-right: 7px;
}

.ironman-container .price-trend {
  margin-right: 4px;
}

.ironman-collapse {
    position: absolute;
    left: -3px;
    height: 83px !important;
    top: -2px;
}

.ironman-item-detail-info-jd {
    width:100%;
    background-color: #0C0C1E;
    height: 40px;
    position: relative;
    border: 1px solid #4A90E2;
    box-shadow: 0 0 6px #4A90E2;
}

.ironman-item-detail-info {
	  margin: 10px auto;
    width: 1140px !important;
    background-color: #0C0C1E;
    height: 40px;
    position: relative;
    border: 1px solid #4A90E2;
    box-shadow: 0 0 6px #4A90E2;
}

.ironman-item-detail-avatar {
	  color: white;
    padding: 0px 0px 0px 110px;
}

.ironman-item-detail-avatar > .ironman-logo:first-child {
    position: absolute;
    border-radius: 0;
    left: 8px;
    top: 5px;
    color: white;
    font-size: 10px;
    margin-right: 5px;
 }
 
.ironman-item-detail-avatar > a.ironman-logo > img {
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
}

.ironman-item-detail-base {
	line-height: 40px;
  height: 40px;
  vertical-align: middle;
}

.ironman-container .inline {
	display: inline-block;
}
 
.ironman-detail-hover {
    margin-left: 13px;
    font-size: 14px;
    color: #CECECE;
    line-height: 40px;
}
 
.ironman-item-detail-popover {
    position: absolute;
    top: 40px;
    z-index: 9999999999;
    width: 340px;
    background-color: #0C0C1E;
    border: 1px solid #4A90E2;
    left: 140px;
    opacity: 0.9;
    box-shadow: 0 0px 6px #4A90E2;
} 

.ironman-item-func-popover {
    position: absolute;
    padding: 5px 10px;
    top: 40px;
    z-index: 9999999999;
    width: 1120px;
    background-color: #0C0C1E;
    border: 1px solid #4A90E2;
    left: -1px;
    opacity: 0.9;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: 0 2px 6px #4A90E2;
}
 
.ironman-collapse-h {
    position: absolute;
    left: -3px;
    width: 100%;
    top: -2px;
} 

.ironman-item-func {
	background-color: #4A90E2;
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;
  color: white;
}

.ironman-mojing-func .ironman-price-chart {
	width: 100%;
}

.ironman-item-func:hover {
  background-color: #3771B4;
}

.ironman-mojing-func {
	font-size: 14px;
	color: white;
}

.price-trend.ironman-detail-hover {
	margin-right: 0;
}

#ironman_huoyuan, #ironman_get_rank, #ironman_shopper {
	margin-left: 5px;
}

a.ironman-m-link {
	color: white;
  font-size: 10px;
}

.ironman-ext-tbl {
	max-height:238px;
	overflow: auto;
}
 
.ironman-topbar {
	width: 1190px !important;
}

@media (max-width: 1250px){
	.ironman-topbar {
    width: 1000px !important;
} 
}

@media (min-width: 1440px){
	.ironman-topbar {
    width: 1350px !important;
}
}

#ironman_track_ad {
	position: relative;
}

.ironman_maimiao_ad {
	  display: block;
    width: 134px;
    height: 32px;
    position: absolute;
    z-index: 999;
    right: 15px;
    background-color: #000000;
    opacity: 0;
}

.ironman_maimiao_normal {
	top: 9px;
}

.ironman_maimiao_super {
  top: 49px;
}

.ironman-container #pop_user_term {
  position: fixed;
  width: 270px;
  bottom: 0px;
  right: 30px;
  z-index: 100000;
  margin-bottom: 0px;
  height: auto;
  font-size: 18px;
}

.ironman-ad-close {
  color: #000000; 
  font-size: 18px; 
  font-weight: bold; 
  line-height: 18px; 
  padding: 1px 6px; 
  position: absolute; 
  right: 1px; 
  text-shadow: 0 1px 0 #FFFFFF; 
  top: 1px; 
  cursor:pointer;
}

.ironman_ad_container .item .price {
    color: #f40;
    font: 700 18px Verdana,Arial;
    float: left;
    height: 18px;
    line-height: 18px;
}

.ironman_ad_container .item .sell {
    color: #999;
    float: right;
}

.ironman_ad_container .item .sell em {
    color: #555;
    font-weight: bold;
}

.ironman_ad_container .item .red {
    position: absolute;
    bottom: 28px;
    left: 0;
    overflow: hidden;
    height: 70px;
    width: 100%;
    visibility: hidden;
}

.ironman_ad_container .item.item-hover .red{
	visibility: visible;
}

.ironman_ad_container .red .bgred {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #fff;
    opacity: .9;
    filter: alpha(opacity=90);
}

.ironman_ad_container .item .redtitle {
    display: block;
    position: absolute;
    bottom: 45px;
    overflow: hidden;
    color: #555;
    height: 15px;
    line-height: 15px;
    padding: 0 10px;
    font-weight: 700;
}

.ironman_ad_container .imgwrap {
    height: 240px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

.ironman_ad_container .item-list .item {
    position: relative;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    height: 270px;
}

.ironman_ad_container .item-list .item.item-hover {
    border: 1px solid #f40;
}

.ironman_ad_container .imglink {
    width: 238px;
    height: 240px;
}

.ironman_ad_container .item img {
    vertical-align: middle;
    border: 0;
}

.ironman_ad_container .item .line1 {
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    margin: 5px 10px;
}

.ironman_ad_container .price em {
    font-family: Arial;
    font-weight: normal;
    margin-right: 3px;
}

.ironman_ad_container .orig-price {
    margin-left: 5px;
    color: #888;
    text-decoration: line-through;
    font-size: 11px;
}